include src/pyaudio/*.c src/pyaudio/*.h src/pyaudio/*.py
include Makefile CHANGELOG INSTALL MANIFEST.in
recursive-include examples *.py
recursive-include tests *.py
graft sphinx
prune **/__pycache__
prune **/.mypy_cache
