Source: python-pyaudio
Section: python
Priority: optional
Standards-Version: 3.9.1
Build-Depends: python-all-dev, python-support (>= 0.6), debhelper(>= 5), portaudio19-dev, python-epydoc, python-docutils
Maintainer: Hubert Pham <hubert@mit.edu>
Uploaders: Felipe Sateler <fsateler@debian.org>, Justin Mazzola Paluska <jmp@mit.edu>
Homepage: http://people.csail.mit.edu/hubert/pyaudio/
Vcs-Git: http://people.csail.mit.edu/hubert/git/pyaudio.git
Vcs-Browser: http://people.csail.mit.edu/hubert/git/pyaudio.git

Package: python-pyaudio
Depends: ${python:Depends}, ${shlibs:Depends}, ${misc:Depends}
Provides: ${python:Provides}
Architecture: any
Description: Python bindings for PortAudio v19
 PyAudio provides Python bindings for PortAudio v19, the
 cross-platform audio I/O library. PyAudio makes it easy to use Python
 to play and record audio via pythonic wrappers around the PortAudio
 API.
